name: Multi-Arch release

on: 
  release:
    types: [published]
  workflow_dispatch:
    
jobs:
  releases-matrix:
    name: Release Go Binary
    runs-on: self-hosted
    strategy:
      matrix:
        # build and publish in parallel: linux/386, linux/amd64, linux/arm64, windows/386, windows/amd64, darwin/amd64, darwin/arm64
        goos: [linux, windows, darwin]
        goarch: ["386", amd64, arm64]
        exclude:  
          - goarch: "386"
            goos: darwin 
          - goarch: arm64
            goos: windows 
    steps:
    - uses: actions/checkout@v2
    - uses: wangyoucao577/go-release-action@v1.52
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: ${{ matrix.goos }}
        goarch: ${{ matrix.goarch }}
        goversion: "https://go.dev/dl/go1.23.4.linux-amd64.tar.gz"
        binary_name: harvester
        ldflags: -X main.VERSION=${{ github.ref_name }}
