name: Lint Go Code

on: 
  push:
    branches:
      - master
  
jobs:
  lint:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with: 
          stable: 'false'
          go-version: '1.20.2'
      - name: lint
        run:  |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.51.2
          golangci-lint run --timeout 5m0s